* {
    box-sizing: content-box;
}


body {
    font-family: "Montserrat", sans-serif;
    background-color: gainsboro;
}

img {
    width: 100%;
}

div.row {
    width: 1200px;
    margin: 0 auto;
}

div.my-carousel-container {
    min-height: 700px;
    min-width: 800px;
    max-height: 800px;
}

div.my-carousel-images {
    min-height: 540px;
}

div.my-carousel-images .items-city {
    position: relative;
    border: 1px solid black;
    display: none;
}

div.my-carousel-images .items-city.active {
    display: block;
}

div.city-description {
    position: absolute;
    top: 3%;
    right: 3%;
}

div.my-thumbnails {
    display: flex;
}

div.my-thumbnails .thumbnail-city {
    border: 1px solid black;
    filter: brightness(.6);
}

div.my-thumbnails .thumbnail-city.active {
    filter: brightness(1);
}

div.my-previous,
div.my-next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

div.my-previous {
    left: 1rem;
}

div.my-next {
    right: 1rem;
}

div.my-previous>span::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
    line-height: 30px;
}

div.my-next>span::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    line-height: 30px;
}